#calendar-cont {
}

#calendar {
    width: 75%;
    display: inline-block;
    float: left;
}

#overview {
    background: #00ff00;
    width: 23%;
    margin-left: 2%;
    height: 50px;
    display: inline-block;
}

.selectedDay {
    background: #ff0000;
    margin: auto;
}