@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
    background: #FDFDFD;
	font-family: 'Roboto', sans-serif;
}

#nav {
	display: inline-block;
	width: 15%;
	padding-top: 50px;
	padding-left: 5%;
}

#main-cont {
	display: inline-block;
	position: absolute;
	margin-left: 5%;
	padding-top: 25px;
	padding-bottom: 50px;
	width: 73%;
}

h1#title {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #009999;
    margin-top: 50px;
    font-size: 3em;
}

h2 {
	color: #009999;
	font-size: 1.1em;
	margin: 0;
	display: inline;
}

.sub-nav-cont-header {
    border-bottom: #009999 solid 1px;
    margin-bottom: 10px;
    position: relative;
}

.sub-nav-cont-header a {
    color: #000;
    text-decoration: none;
    font-size: 0.8em;
    position: absolute;
    right: 0;
    bottom: 0;
}

.sub-nav-cont {
    margin-bottom: 20px;
}

#login-cont {
	font-size: 0.8em;
	color: #000;
	padding-left: 5%;
	position: absolute;
	top: 150px;
}

#login-cont a {
	color: #000;
}

.sub-nav-cont ul {
	list-style-type: none;
	padding-left: 0px;
}

.sub-nav-entry {
	cursor: pointer;
	position: relative;
}

.sub-nav-entry:hover {
	background: #FFd073;
}

.sub-nav-entry-active {
	background: #ffaa00;
}

.sub-nav-entry div {
    display: inline-block;
}

.sub-nav-entry a {
    position: absolute;
    right: 0;
    display: none;
}

.table {
	display: table;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;    
}


#submit-overview {
    position: relative; 
    z-index:99;
}

#edit-wrapper {
    position: absolute;
    right: 0;
    top: 0;
}

#edit-wrapper > span {
    margin-right: -5px;
}

#edit-switch-wrapper {
    display: inline-block;
    width: 75px;
    margin-bottom: -2px;
}